@model IEnumerable<VeterinaryDb.Models.Pet>



@{     ViewData["Title"] = "Index";
}

<h2>Pets</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            Pet Name
       
        </th>
        <th>
         Species
        </th>
        <th>
          Date Of Birth
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PetId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PetId })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.PetId })
            </td>
        </tr>
    }
    </tbody>
</table>